

/* ========================================================================
 * MODIFICA PANEL DASHBOARD
 * ======================================================================== */

.panel {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.082) !important;
    border-radius: 10px !important;
}


.panel .panel-heading {
    border-radius: 10px !important;
}

.panel .panel-body {
    border-radius: 10px !important;
}


/* ========================================================================
 * MODIFICA LOGIN PAGE
 * ======================================================================== */

.row-login {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    flex-grow: 1;
    overflow-x: hidden;
}

.col-full-height {
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    flex-grow: 1;
    overflow-y: hidden;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.082) !important;
}

.repeat-logo {
    background-image: url("@web/images/logo_login.png");
    background-repeat: repeat;
}


/* ========================================================================
 * MODIFICHE NAVBAR
 * ======================================================================== */

#header .navbar-header {
    background-color: white !important;
}


/* ========================================================================
 * SIDEBAR CONTENT
 * ======================================================================== */

.sidebar-content {
    position: relative;
    /*padding: 15px 10px;*/
    /*border-bottom: 2px solid #373737;*/
    min-height: 5px;
}

.sidebar-menu>li>a>span {
    display: inline;
    color: #777;
    font-size: 1.05em;
}

.sidebar-menu>li>a>.icon i {
    text-align: center;
    line-height: 29px;
    width: 33px;
    font-size: 16px;
    color: #777;
}

.sidebar-light .sidebar-menu>li>a>.icon i {
    color: #777;
}

.sidebar-menu ul li a {
    /* font-size: 12px; */
    text-decoration: none;
    padding: 8px 0 8px 22px;
    display: block;
    text-transform: capitalize;
    color: #777;
}


/* ========================================================================
 * BODY
 * ======================================================================== */

body {
    font-family: Ubuntu, Poppins, sans-serif !important;
}

/* ========================================================================
 * MODIFICA TABX CONTENT
 * ======================================================================== */

.tab-content {
    margin-bottom: 3em !important;
}

